<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="TestSuite">

<listeners>
    <listener class-name="retry.RetryListner"/>
    <listener class-name="extendReport.TestListener"/>
</listeners>

  <test thread-count="5" name="Test">
    <parameter name="browser" value="chrome"/>
    <classes>
     <class name="TestClasses.TaskTestClass"/>
      <class name="TestClasses.TerminationTestClass"/>
      <class name="TestClasses.LoginPageTestClass"/>
      <class name="TestClasses.DashBoardTestClass"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- TestSuite -->
